PORT=3000
ADMIN_PASSWORD=5922
RAZORPAY_KEY_ID=rzp_live_TWfdHUXcUNhDvk
RAZORPAY_KEY_SECRET=lijw6c38DrPTfkoyPL3kC5Y3
RAZORPAY_PLAN_ID=plan_TWe7OhBsGpNK4q
GOOGLE_REVIEW_URL=https://g.page/r/YOUR_PLACE_ID/review
BASE_URL=http://localhost:3000
